
@{
    
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 <link href="~/Content/themes/templatemo_style.css" rel="stylesheet" type="text/css" />
<div id="templatemo_content_right">
<label >Select your option</label>
    <br />
    @Html.ActionLink("Add a Product", "Add", "User")
    <br />
    @Html.ActionLink("Delete Products", "Delete", "User")
</div>
