 <link href="~/Content/themes/templatemo_style.css" rel="stylesheet" type="text/css" />
@{
    
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="templatemo_content_right">
<h1>Products with quantity zero are deleted.</h1>
   </div>
