 <link href="~/Content/themes/templatemo_style.css" rel="stylesheet" type="text/css" />
@{
    
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="Scripts/jquery-2.0.0.js"></script>

       
        <div id="templatemo_content_right">
            <form method="post"  action="/Products/Cart">
               
        	
         <table>
             @foreach(var s in Model)
                 {
                 
                 <tr>
                     <td><img src="@s.src.Substring(1)"/></td></tr>
                    <tr> <td>@s.Name
                        
                         </td></tr>
                    <tr> <td>@s.Price</td></tr>

                    <tr> <td>@s.Details</td>

                 </tr>
                 <tr><td><a  href="/Products/Cart?pName=@s.Name">Add to Cart</a></td></tr>
                 
             }
         </table>
   	       
             </form>   
           
        
        </div> <!-- end of content right -->
    
    	

    
