@{
    ViewBag.Title = "Index";
}


 <link href="~/Content/themes/templatemo_style.css" rel="stylesheet" type="text/css" />
@{
    
    Layout = "~/Views/Shared/_Layout.cshtml";
}
       
        <div id="templatemo_content_right">
            <a href="/Products/Clothes">Clothes (For Females)</a>
             <br />
            <br />
        	<img src="~/images/cl.jpg" alt="image" />
            <img src="~/images/cl.jpg" alt="image" />
            <br />
            <br />
            <a href="/Products/Mobiles">Mobile Phones</a>
            <br />
            <br />
            <img src="~/images/spice-mobile-phones.jpg" alt="image" />
             <br />
            <br />
            <a href="/Products/Shoes">Shoes</a>
            <br />
            <br />
            <img src="~/images/shoes.jpg" alt="image" />
            <a href="/Products/Laptop">Laptop</a>
            <br />
            <br />
            <img src="~/images/i1.jpg" alt="image" />

            
            	
   	      
                
                </div>
    
