 <link href="~/Content/themes/templatemo_style.css" rel="stylesheet" type="text/css" />
@{
    
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="templatemo_content_right">
<h1>You Product is added in cart</h1>
    <div class="detail_button"><a  href="/User/CheckOut">CheckOut</a></div>&nbsp&nbsp&nbsp&nbsp&nbsp<div class="detail_button"><a  href="/Products/index">Go Back</a></div>
    </div>
